{% extends "base.html" %}

{% block title %}Password Change{% endblock %}

{% block content %}

    <h1>Password Change</h1>
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="form-group">
            <form id="signin" class="form-signin" method="post" action=".">
                {% csrf_token %}

                <p>Please enter your old password for security's sake, and then enter your new password twice.</p>
                <br>
                <!-- Username input-->
                <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        {{ form.old_password }}
                        <span class="field-error">{{ form.old_password.errors|striptags }}</span>
                    </div>
                </div>

                <!-- Password input-->
                <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        {{ form.new_password1 }}
                        <span class="field-error">{{ form.new_password1.errors|striptags }}</span>
                    </div>
                </div>

                <!-- Password input-->
                <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        {{ form.new_password2 }}
                        <span class="field-error">{{ form.new_password2.errors|striptags }}</span>
                    </div>
                </div><hr>

                <!-- Sign in Button -->
                <div class="row control-group">
                    <div class="form-group col-xs-12">
                        <button id="signin" name="signin" class="btn btn-success btn-lg btn-block" type="submit">Change</button>
                    </div>
                </div>
                <br>


            </form >
        </div>
    </div>
{% endblock %}

