body {
    font-family: "Lucida Grande", Verdana, Arial, sans-serif;
    font-size: 14px;
}

/* PAGE STRUCTURE */
div#header {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 50px;
    width: 100%;
    display: table;
    background: linear-gradient(to right, #3656bb, #456ef2, #5687ff, #5b8bff);
}

div#menu {
    position: absolute;
    top: 58px;
    left: 0px;
    height: 32px;
    width: 100%;
    display: table;
    table-layout: fixed;
    border-spacing: 40px 0px;
    background: #ffffff;
    font-size: 12px;
}

div#content {
    position: absolute;
    top: 100px;
    left: 50px;
    right: 50px;
}

div#footer {
    position: absolute;
    bottom: 20px;
    left: 50px;
    right: 50px;
    height: 30px;
    border-top:1px solid #ccc;
}

/* HEADER */
.maintitle {
    display: table-cell;
    vertical-align: middle;
    padding-left: 20px;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.welcome {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    padding-right: 20px;
    color: white;
    font-weight: normal;
    font-size: 16px;
}

.welcome a:link, .maintitle a:link, .welcome a:visited, .maintitle a:visited {
    color: white;
}

/* MENU */
div#menu a:link, div#menu a:visited {
    color: #36c;
}

div#menu > li {
    display: table-cell;
    vertical-align: middle;
    border: 2px solid #bbb;
    border-radius: 25px;
    text-align: center;
    font-weight: bold;
}

/* LINK */
a:link, a:visited {
    color: #369;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* TABLE */
table {
    border-collapse: collapse;
}

td, th {
    line-height: 18px;
    border-bottom: 1px solid #eee;
    vertical-align: top;
    padding: 5px 15px;
    font-family: "Lucida Grande", Verdana, Arial, sans-serif;
}
